@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 4em;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}

	.slide-in {
		transform: translateY(8%);
		opacity: 0;
		transition:
			transform 0.3s ease-out,
			opacity 0.3s ease-out;
	}

	.slide-in.visible {
		transform: translateX(0);
		opacity: 1;
	}

	.text-primary-gradient {
		@apply bg-gradient-to-r from-accent to-primary bg-clip-text text-transparent outline-8 outline-offset-2 outline-accent !important;
	}

	.contrast-container {
		@apply rounded-xl border border-base-300 bg-base-100/80 shadow-xl;
	}

	.step-container {
		@apply flex w-full justify-center;
	}

	.step-content {
		@apply w-11/12 sm:w-10/12 md:w-9/12;
	}

	.bg-pulsing-gradient {
		@apply animate-[pulse_10s_ease-in-out_infinite] rounded-[30%_70%_70%_30%_/30%_30%_70%_70%] bg-gradient-to-r from-primary via-secondary to-accent opacity-90 blur-[calc(750px/5)] filter;
	}

	.bg-noise {
		background-repeat: repeat;
		/** https://noisetexturegenerator.com */
		background-image: url("/noisy-texture.png");
	}

	.bg-pattern {
		background-repeat: repeat;
		/** https://www.transparenttextures.com/ */
		background-image: url("/slash-it.png");
	}
}
