@import 'tailwindcss';
@plugin "daisyui";

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 4em;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

	.skeleton {
		@apply bg-base-200!; /* Overwrite DaisyUI */
	}

	.slide-in {
		transform: translateY(8%);
		opacity: 0;
		transition:
			transform 0.3s ease-out,
			opacity 0.3s ease-out;
	}

	.slide-in.visible {
		transform: translateX(0);
		opacity: 1;
	}

	.text-primary-gradient {
		@apply bg-linear-to-r! from-accent! to-primary! bg-clip-text! text-transparent! outline-8! outline-offset-2! outline-accent!;
	}

	.contrast-container {
		@apply my-14 h-fit w-full rounded-xl border border-base-300 bg-base-100/80 p-6 shadow-xl sm:my-24 md:w-11/12 md:p-10 lg:my-28 lg:w-8/12 xl:w-7/12 2xl:w-6/12;
	}

	.step-container {
		@apply flex w-full justify-center;
	}

	.step-content {
		@apply w-11/12;
	}

	.bg-pulsing-gradient {
		@apply animate-[pulse_10s_ease-in-out_infinite] rounded-[30%_70%_70%_30%_/30%_30%_70%_70%] bg-linear-to-r from-primary via-secondary to-accent opacity-90 blur-[calc(750px/5)] filter;
	}

	.bg-noise {
		background-repeat: repeat;
		/** https://noisetexturegenerator.com */
		background-image: url("/noisy-texture.png");
	}

	.bg-pattern {
		background-repeat: repeat;
		/** https://www.transparenttextures.com/ */
		background-image: url("/slash-it.png");
	}
}
